prueba.txt
notebooklm - cuaderno dedicado/

#Carpeta donde se clonó el proyecto git_module desde GitHub
my_project_git_module_clone/

#Carpeta donde me he clonado el repositorio original de mouredev después de aplicarle un fork
prueba_fork/